In [2]:
import pandas as pd

In [3]:
dataframe_exam = pd.read_csv(r'D:\rakamin_python\Data_Processing\job_data_analyst_details.csv')

In [4]:
dataframe_exam

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",1961,Nonprofit Organization,Social Assistance,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",1893,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",2003,Company - Private,Internet,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",2002,Subsidiary or Business Segment,IT Services,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",2009,Company - Private,Sports & Recreation,$100 to $500 million (USD),DraftKings,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",-1,Company - Private,Staffing & Outsourcing,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",1935,Company - Public,Wholesale,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",1984,Company - Private,Enterprise Software & Network Solutions,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",1864,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [7]:
# pertanyaan satu
# antoni memiliki cita cita sebagai gamer, sehingga dia ingin bekerja di industry = video games yang memiliki rating perusahaan > 4.5,

# dimana lokasi perusahaan yang memenuhi kriteria tersebut di dataframe job_data_analyst_details.csv adalah sebagai berikut:

# kolom dalam dataframe_exam
# Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
#        'Rating', 'Company Name', 'Location', 'Headquarters', 'Founded',
#        'Type of ownership', 'Industry', 'Revenue', 'Competitors',
#        'Easy Apply'],
#       dtype='object')

dataframe_exam[dataframe_exam['Industry'] == 'Video Games'][dataframe_exam['Rating'] > 4.5][['Location', 'Company Name', 'Rating']]

C:\Users\Wahgus\AppData\Local\Temp\ipykernel_12864\564594500.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataframe_exam[dataframe_exam['Industry'] == 'Video Games'][dataframe_exam['Rating'] > 4.5][['Location', 'Company Name', 'Rating']]

             Location Company Name  Rating
539  Santa Monica, CA   PlayQ\n4.7     4.7
681  Santa Monica, CA   PlayQ\n4.7     4.7

In [8]:
# soal kedua
# berapa rata rata rating perusahaan dengan lokasi yang mengandung kata "Houston"

dataframe_exam[dataframe_exam['Location'].str.contains('Houston')]['Rating'].mean()

np.float64(3.2780821917808223)

In [9]:
# soal ketiga
# # dari perusahaan yang bergerak di industri = internet dan Founded > 2015, Job Title apa yang paling banyak lowongan pekerjaannya adalah?

dataframe_exam[(dataframe_exam['Industry'] == 'Internet') & (dataframe_exam['Founded'] > 2015)]['Job Title'].value_counts().idxmax()

'Senior Data Analyst'

In [12]:
# soal keempat
# df1 didefinisikan sebagai perusahaan yang founded = 2018
# df2 didefinisikan sebagai perusahaan yang founded = 1995

# kemudian append kedua dataframe tersebut

# berapakah total lowongan yang disediakan setelah append tersebut?

df1 = dataframe_exam[dataframe_exam['Founded'] == 2018]
df2 = dataframe_exam[dataframe_exam['Founded'] == 1995]
df_append = pd.concat([df1, df2])  # Gunakan pd.concat() untuk menggabungkan DataFrame
total_job_titles = df_append['Job Title'].count()

print(total_job_titles)

53

In [18]:
# soal kelima
# pada perusahaan yang founded > 2017 , rating >= 3.5 dan rating <= 4.5, jika dibuat kolom rating_baru yang bernilai rating+0.5

# maka berapa rata rata rating baru?

# Tambahkan kolom rating_baru
# Definisikan fungsi untuk menghitung rating_baru
def calculate_rating_baru(row):
    if (row['Founded'] > 2017) and (3.5 <= row['Rating'] <= 4.5):
        return row['Rating'] + 0.5
    else:
        return row['Rating']

# Tambahkan kolom rating_baru menggunakan fungsi biasa
dataframe_exam['rating_baru'] = dataframe_exam.apply(calculate_rating_baru, axis=1)

# Filter baris yang memenuhi kriteria
filtered_df = dataframe_exam[(dataframe_exam['Founded'] > 2017) & (3.5 <= dataframe_exam['Rating']) & (dataframe_exam['Rating'] <= 4.5)]

# Hitung rata-rata rating_baru hanya untuk baris yang memenuhi kriteria
average_new_rating = filtered_df['rating_baru'].mean()
print(average_new_rating)

4.26

In [15]:
# soal keenam

# df1 didefinisikan semua jobs dengan kolom description mengandung kata attitude dan rating >= 1.0
# df2 didefinisikan semua jobs di new york,NY dan rating >= 1.0
# append kedua df tersebut, berapa mean dari rating dari seluruh jobs yang tersedia?

df1 = dataframe_exam[dataframe_exam['Job Description'].str.contains('attitude', case=False) & (dataframe_exam['Rating'] >= 1.0)]
df2 = dataframe_exam[dataframe_exam['Location'].str.contains('New York, NY') & (dataframe_exam['Rating'] >= 1.0)]
df_append = pd.concat([df1, df2])  # Gunakan pd.concat() untuk menggabungkan DataFrame
mean_rating = df_append['Rating'].mean()
print(mean_rating)

3.711484593837535

In [22]:
# soal ketujuh
# ada berapa total lowongan pekerjaan di lokasi lake success, NY dan los Angeles, CA yang mensyaratkan menguasai SQL?

df_lake_success = dataframe_exam[(dataframe_exam['Location'] == 'Lake Success, NY') & (dataframe_exam['Job Description'].str.contains('SQL', case=False))]
df_los_angeles = dataframe_exam[(dataframe_exam['Location'] == 'Los Angeles, CA') & (dataframe_exam['Job Description'].str.contains('SQL', case=False))]   
total_jobs_sql = len(df_lake_success) + len(df_los_angeles)
print(total_jobs_sql)
print(len(df_lake_success))
print(len(df_los_angeles))

61
6
55

In [ ]:
# # soal kedelapan
# apa yang terjadi jika syntax how = ['inner','left','right'] pada saat merge tidak digunakan?
# contoh : df1.merge(df2, left_on= 'name', right_on = 'name')

# Jika syntax `how=['inner', 'left', 'right']` tidak digunakan pada saat melakukan merge, maka secara default pandas akan melakukan merge dengan metode 'inner join'.
# Artinya, hanya baris-baris yang memiliki nilai yang cocok di kedua DataFrame yang akan disertakan dalam hasil merge.
# Jika kita ingin mengubah jenis join yang digunakan, kita harus secara eksplisit menyebutkan jenis join tersebut dengan parameter `how`.
# Misalnya, jika kita ingin melakukan 'left join', kita harus menuliskan `how='left'`, yang akan mengembalikan semua baris dari DataFrame kiri (df1) dan hanya baris yang cocok dari DataFrame kanan (df2).

In [ ]:
# soal kesembilan
# apa yang terjadi jika syntax ini dijalankan :
# df.to_excel('analysis_job_data.csv')

# Jika syntax `df.to_excel('analysis_job_data.csv')` dijalankan, maka DataFrame `df` akan disimpan ke dalam file Excel dengan nama 'analysis_job_data.csv'.
# Namun, perlu dicatat bahwa ekstensi file '.csv' biasanya digunakan untuk file CSV (Comma-Separated Values), bukan file Excel.
# Jika kita ingin menyimpan DataFrame sebagai file Excel, sebaiknya menggunakan ekstensi '.xlsx' atau '.xls', seperti `df.to_excel('analysis_job_data.xlsx')`.